@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

*{
  padding: 0%;
  margin: 0%;
}

*{
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: #6667AB;
}

header
{
  color: #fff;
  font-size: 29px;
  font-family: monospace;
  font-weight: bold;
  text-shadow:  
    1px -1px 0 #2f5d87, 
    2px -2px 0 #2e5a83, 
    3px -3px 0 #2d5880, 
    4px -4px 0 #2b557c, 
    5px -5px 0 #2a5378, 
    6px -6px 0 #295074, 
    7px -7px 0 #274d71, 
    8px -8px 0 #264b6d, 
    9px -9px 0 #254869, 
    10px -10px 0 #234665, 
    11px -11px 0 #224361, 
    12px -12px 0 #21405e, 
    13px -13px 12px rgba(0, 0, 0, 0.55), 
    13px -13px 1px rgba(0, 0, 0, 0.5);
}
:root{
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

button.big-button {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
  transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}


ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  box-sizing: border-box;
  width: 15em;
  height: 3em;
  font-size: 20px;
  border-radius: 0.5em;
  margin: 0.5em;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  line-height: 3em;
  transition: 0.3s;
  cursor: pointer;
}

ul li:nth-child(odd) {
  background: linear-gradient(to right, orange, tomato);
  text-align: left;
  padding-left: 10%;
  transform: perspective(500px) rotateY(45deg);
}

ul li:nth-child(even) {
  background: linear-gradient(to left, orange, tomato);
  text-align: right;
  padding-right: 10%;
  transform: perspective(500px) rotateY(-45deg);
}

ul li:nth-child(odd):hover {
  transform: perspective(200px) rotateY(45deg);
  padding-left: 5%;
}

ul li:nth-child(even):hover {
  transform: perspective(200px) rotateY(-45deg);
  padding-right: 5%;
}
